<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Product Form</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<style>
		body {
			background-color: rgb(190, 194, 194);
		}
		p {
			font-size: 24px;
			font-style: bold;
			color:darkblue;
		}
		label{
			font-weight:bold;
		}
	</style>

</head>

<body style="margin-top : 4%">

	<div class="container" style="margin-left :400px;">

		<form class="form" action="#" th:action="@{/Product/save}" th:object="${PRODUCT}" method="post">

			<p style="margin-left:145px;" th:if="*{id} == null">Add Product Details</p>
			<p style="margin-left:145px;" th:if="*{id} != null">Update Product Details</p>
			<br>
			<div class="row">
				<div class="col-sm-3">
					<label class="col-form-label">ID</label>
				</div>
				<div class="col-sm-6">
					<input type="text" name="id" th:field="*{id}" />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label class="col-form-label">Name</label>
				</div>
				<div class="col-sm-6">
					<input type="text" name="name" th:field="*{name}" />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label class="col-form-label">Unit Price</label>
				</div>
				<div class="col-sm-6">
					<input type="text" name="unitprice" th:field="*{unitprice}" />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label class="col-form-label">Unit In Stock</label>
				</div>
				<div class="col-sm-6">
					<input type="text" name="unitsinstock" th:field="*{unitsinstock}" />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label class="col-form-label">Date Created</label>
				</div>
				<div class="col-sm-6">
					<input type="date" name="datecreated" th:field="*{datecreated}" />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label class="col-form-label">Description</label>
				</div>
				<div class="col-sm-6">
					<input type="text" name="description" th:field="*{description}" />
				</div>
			</div>
			<div class="row" style="margin-left:140px;">
				<div class="col-sm-1">
					<input type="submit" value="Submit" name="submit" class="btn btn-ms btn-primary" />
				</div>
				<div class="col-sm-1">
					<input type="reset" value="Reset" name="reset" class="btn btn-ms btn-danger" />
				</div>
			</div>
		</form>
		&nbsp;
		<div style="margin-left:145px;"><a th:href="@{/Product/ProdList}">Back to Product List</a>
		</div>
	</div>
</body>

</html>