<!DOCTYPE html>
<html lang="en" xlmns : th="https://www.thymeleaf.org/">

<head>
	<title>Product</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</head>
<style>
	body {
		background-color: rgb(190, 194, 194);
	}

	#container {
		margin-top: 40px;
	}

	h3{
		background-color: gray;
		text-align: center;
	}

	th{
		border-style: double;
		background-color: gray;
	}
</style>

<body>
	<h3 style="color:darkblue;">PRODUCT DATA</h3>
	<div class="container-fluid">
		<a th:href="@{/Product/addProd}" class="btn btn-primary">Add Product</a>
		<div class="form" style="margin-left:900px;">
			<form method="get" action="search">
				<input type="text" name="keyword">
				<input type="submit" value="Search">
			</form>
		</div>
		<table class="table table-hover">
			<tr>
				<th> ID </th>
				<th> Product Name </th>
				<th> Unit Price </th>
				<th> Unit in Stocks </th>
				<th> Date Created </th>
				<th>Description</th>
				<th> Action </th>
			</tr>
			<tr th:each="tempEmp : ${PRODUCT}">
				<td th:text="${tempEmp.id}"></td>
				<td th:text="${tempEmp.name}"></td>
				<td th:text="${tempEmp.unitprice}"></td>
				<td th:text="${tempEmp.unitsinstock}"></td>
				<td th:text="${tempEmp.datecreated}"></td>
				<td th:text="${tempEmp.description}"></td>
				<td>
					<a class="btn btn-primary" th:href="@{/Product/updateForm(id = ${tempEmp.id} )}">update</a>
					&nbsp;
					<a class="btn btn-danger" th:href="@{/Product/delete(id = ${tempEmp.id} )}"
						onclick="if(!(confirm('Are you sure to delete this employee details?'))) ">delete</a>

				</td>

			</tr>
	</div>
	<br>
</body>

</html>